{% extends 'tracker/base.html' %}
{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 85vh; font-size: 0.95rem;">
    <div class="col-md-4">
        <div class="card shadow border-0 p-4 rounded-3 bg-white">
            <div class="text-center mb-3">
            <img src="/static/otter.png" alt="Cute Otter" class="img-fluid" style="max-height: 90px; border-radius: 10px;">
        </div>
            <div class="text-center mb-4">
                <h3 class="fw-bold mt-2" style="color: #37352f;">Welcome to SpendWise</h3>
                <p class="text-muted small">Manage your Expenses smartly</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label fw-semibold text-muted small">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors|striptags }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-dark w-100 btn-sm py-2 fw-semibold mt-2">Login</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'signup' %}" class="small text-decoration-none">Create a SpendWise account</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('input').forEach(el => el.classList.add('form-control', 'form-control-sm'));
</script>
{% endblock %}